ion-content{
    --background: rgb(243, 240, 240);
}
ion-row{
    --background: rgb(252, 247, 247);
    margin-top: 15px;
}
ion-item{
    border-radius: 30px;
    margin: 10px;
}
ion-button{
    margin-top: 30px;
    width: 200px;
    border-radius: 40px;
}
a{
    margin-left: 15px;
}